<nav class="navbar navbar-expand-lg navbar-dark" style="background-color: slateblue">
  <div class="container-fluid">
    <a class="navbar-brand" th:href="@{'/homePage_L6t1'}">CRM Система</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link" th:href="@{'/homePage_L6t1'}">Все Заявки</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" th:href="@{'/newApplications_L6t1'}">Новые Заявки</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" th:href="@{'/processedApplications_L6t1'}">Обработанные Заявки</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" th:href="@{'/addApple_L6t1'}">+Добавить заявку</a>
        </li>
      </ul>
    </div>
  </div>
</nav>